body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2e2e2e;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 17px;
}
h1 {
    font-size: 4em;
            letter-spacing: -0.06em;
            margin: 0 0 0.2em;
            line-height: 1em;
    font-weight: bold;
}
p {
    max-width: 40em;
} 
@media all and (max-width: 40em) {
    h1 { font-size: 3em; }
}

.mgt-20 {
    margin-top: 20px;
}